
body {
	overflow:auto;
	margin: 0;
	padding: 0;
}

.fade {
	overflow:auto;
}

body {
	color: #232323;
}

.sticky {
	overflow:hidden;
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  	height: 80px;
  	background-color: #fff;
  	z-index: 100;
  	margin-bottom: 20px;
}


.col-md-3 p {
	line-height: 25px;
}

.logo {
	margin-top: 15px;
}

.logo a {
	text-decoration: none;
	color: #232323;
	font-size: 2em;
}

.navbar {
	box-shadow: none;
	height: 80px;
}

.navbar-default .navbar-nav>li {
	margin: 22px 0;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #0d87e9;
	border-bottom: 2px #0096ff solid;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 28px;
	display: inline-block;
	color: #232323;
  	-webkit-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	transition: all 0.4s;
}
.phoneHeader {
	text-align: center;
	margin-top: 15px;
}

.phoneHeader p {
	font-size: 2em;
	padding-top: 15px;
}

.phoneHeader a {
	text-decoration: none;
	color: #232323;
}

.map {
	width: 100%;
	height: 700px;
	margin: 80px 0 0 0;
	position: relative;
	background: url(../img/notebook.png) 100% 100% no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}


.pdf {
	padding-left: 10px;
}

.pdf img {
	width: 24px;
	height: 24px;
}

.bigInfo, .orderForm {
	position: absolute;
	top: 20px;
}

.bigInfo {
	right: 7%;
	margin-top: 20px;
	text-align: center;
}

.bigInfo h1 {
	color: #fff;
	font-size:40px;
}

.bigInfo p {
	color: #fff;
	font-size:30px;
	margin-bottom: 5px;
}

.presentation {
	margin-top: 230px;
}

.presentation a {
	color: #fff;
	text-decoration: underline;
	font-size: 20px;
}

textarea {
	border: 2px #0d87e9 solid;
	height: 100px;
	padding: 5px;
}

textarea:focus {
	box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 !important;
}


.orderForm {
	left: 10%;
	top:15%;
	font-family: arial, helvetica, sans-serif;
}

.orderForm form {
	background-color: rgba(246, 246, 244, .85);
	padding: 10px;
	width: 250px;
	text-align: left;
	border: 2px solid #666;
	border-radius: .7em;
	background-clip: padding-box;
	box-shadow: 8px 5px 10px;
}

.orderForm p {
	margin-bottom: 0;
}

.orderForm input {
	height: 35px;
	width: 100%;
	padding: 5px;
	border: 1px #969695 solid;
	border-radius: .3em;
	box-shadow: 1px 1px 3px #cbcbca;
	margin: 0 auto;
}

.orderForm input:focus {
	box-shadow: none;
}

.orderForm label {
	font-weight: bold;
	font-size: 1.2em;
	font-style: normal;
	text-align: left;
	margin-bottom: 0;
}

.orderForm b {
	display: block;
	text-align: center;
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.orderForm p b span {
	display: inline;
	padding: 0 0 0 5px;
	color: #cc0000;
	font-size: 1.2em;
}

.orderForm i {
	font-style: oblique;
}

#days_remain, #hours_remain, #minutes_remain, #seconds_remain {
	width: 50px;
	float: left;
	margin-left: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	background-color: rgba(255, 255, 255, 1);
	background-image: url('../img/counting.png');
	background-repeat: none;
	background-position: center center;
	border: 1px solid #b2b2b2;
	border-bottom: 4px solid #b2b2b2;
	border-radius: 11px;
	box-shadow: 1px -1px 4px #eaecee;
}

.orderForm span {
	display: block;
	padding: 0 0 0 15px;
}

.orderForm label.error {
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	color: #cc0000;
}
.krest {
	cursor:pointer;
	font-size: 2em;
	margin:0;
	padding:0;
	float:right;
	line-height:0;

}
.form-control {
	padding: 0px;
	width: 25%;
	min-width:250px;
	margin:auto;
	margin-top:10%;
	border: 1px solid black;

}


.contact p {
	margin: 5px 0;
}

.contact input {
	width: 100%;
}
.fade .modal-dialog {
	width:100%;
}
.modal-content {
	padding: 15px;
	width: 25%;
	min-width:250px;
	margin:auto;
	margin-top:10%;
	border: 2px solid #666;
	border-radius: .7em;
	background-clip: padding-box;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	background-color: rgba(246, 246, 244, .85);
}
.modal-header {
	padding:0;
	min-height: 10px;
}

.modal-body {
	padding:0;
}
.close {
	margin:0;
	padding:0;
	font-size: 2em;
}
.contact {
	font-family: arial, helvetica, sans-serif;
	width: 100%;
	text-align: left;
	padding:0;


}
.fade {
	padding:0 !important;
}
.contact p {
	margin-bottom: 0;
}

.contact input {
	height: 35px;
	width: 100%;
	padding: 5px;
	border: 1px #969695 solid;
	border-radius: .3em;
	box-shadow: 1px 1px 3px #cbcbca;
	margin: 0 auto;
}

.contact input:focus {
	box-shadow: none;
}

.contact label {
	font-weight: bold;
	font-size: 1.2em;
	font-style: normal;
	text-align: left;
	margin-bottom: 0;
	line-height:0;
}
.btn-primary {
	display:block;
	margin:auto;
	margin-top:10px;

}

.tariff {
	height: 35px;
	width: 100%;
	padding: 5px;
	border: 1px #969695 solid;
	border-radius: .3em;
	box-shadow: 1px 1px 3px #cbcbca;
	margin: 0 auto;
}
.customInfo {
	width: 160px;
}

.container {
	position: relative;
	overflow: hidden;
	background-color:white;
	width:100%;
}

.container h2 {
	color: #39f;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 50px;
}

.container h2:before,
.container h2:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 50%;
	height: 2px;

	vertical-align: bottom;
	background: #000;
	background-clip: content-box;
	border-bottom: 3px solid #39f;
}
.container h2:before {
	left: -.5em;
	margin: 0 0 0 -50%;
}
.container h2:after {
	left: .5em;
	margin: 0 -50% 0 0;
}

.portf {
	background-color: #131f51;
}

.portf h2 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 50px;
}

.portf h2:before,
.portf h2:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 50%;
	height: 2px;

	vertical-align: bottom;
	background: #000;
	background-clip: content-box;
	border-bottom: 3px solid #fff;
}
.portf h2:before {
	left: -.5em;
	margin: 0 0 0 -50%;
}
.portf h2:after {
	left: .5em;
	margin: 0 -50% 0 0;
}

.portfButton {
	display: block;
	width: 170px;
	float: right;
	margin-bottom: 50px;
	margin-right: 30px;
	border-radius: 5px;
	background-color: #0879d0;
}
.portfBtn {
	display: block;
	width: 170px;
	float: right;
	margin-bottom: 10px;
	margin-right: 30px;
	border-radius: 5px;
	background-color: #0879d0;
}

.tarifButton {
	width: 80%;
}


.prtf {
	width: 84%;
	overflow: hidden;
	margin: 0 auto;
}

.prtf ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	display: block; 
}

.prtf li {
	display: inline-block;
	width: 230px;
	margin-right: 30px;
}

.portfolioContainer a {
	text-decoration: none;
	outline: none;
}

.portfolioContainer img {
	width: 245px;
	margin-bottom: 50px;
}

.container h3 {
	text-align: center;
	color: #39f;
	font-size: 1.3em;
	margin-bottom: 35px;
}

.wow {
	text-align: center;
}

.portfolioFilter {
	text-align: center;
	margin-bottom: 10px;
}

.portfolioFilter a {
	margin: 0 15px;
}

.portfolioContainer > div {
	margin-bottom: 10px;
}

.countBox {
	margin: 0 auto;
	display: block;
	border: 2px #0d87e9 solid;
	color: #0d87e9;
	font-size: 4em;
	border-radius: 50%;
	line-height: 200px;
	height: 200px;
	width: 200px;
	text-align: center;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.overlay {
	position: relative;
  	overflow: hidden;
  	width: 283px;
  	text-align: center;
}

.overlay:hover .overlayPop {
	top: 0;
	opacity: 1;
}

.overlay:hover .overlayPop a {
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-ms-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
	opacity: 1;
	margin-top: 10px;
}

.overlay .overlayPop {
  position: absolute;
  top: 0px;
  left: 48px;
  height: 100%;
  width: 188px;
  opacity: 0;
  text-align: center;
  background: rgba(0,150,255,0.7);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.overlayPop h6, .overlayPop span, .overlayPop a {
	color: #fff;
}

.overlayPop a {
	border: 2px solid #fff;
  	padding: 7px;
  	border-radius: 4px;
  	display: inline-block;
  	width: 40px;
  	position: absolute;
  	bottom: 20px;
  	right: 75px;
}

.priceHead {
  	text-align: center;
  	height: 150px;
  	margin-top: -13px;
  	margin-bottom: 15px;
}

.priceHead h6{
	color: #39f;
	padding-top: 135px;
	margin-bottom: 10px;
	font-size: 1.4em;
}

.priceHead span {
	color: #fff;
	font-size: 1.5em;
}

.landingHead {
	background-image: url('../img/landing.png');
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

.corpHead {
	background-image: url('../img/corpsite.png');
	background-repeat: no-repeat;
	background-position: 45% 30%;
}

.shopHead {
	background-image: url('../img/shop.png');
	background-repeat: no-repeat;
	background-position: 55% 30%;
}

.portalHead {
	background-image: url('../img/portal.png');
	background-repeat: no-repeat;
	background-position: 57% 30%;
}

.priceWrapper {
	text-align: center;
	border: 1px solid #93c9ff;
	margin-bottom: 15px;
	padding:10px;
}

.priceWrapper p {
	margin: 0;
	padding: 3px;
}

.priceWrapper p.ok, p.none {
	text-align: left;
	padding: 3px 10px 3px 40px;
}

.priceWrapper p.ok {
	background-image: url('../img/ok.png');
	background-repeat: no-repeat;
	background-position: 3% center;
}

.priceWrapper p.none {
	text-decoration: line-through;
	color: #CACCCA;
}

.priceWrapper p.price {
	border:none;
	margin-bottom: 0;
}

span.price {
	color: #2196f3;
	font-size: 24px;
}
.oldprice {
	font-size: 18px;
	color:orangered;
	text-decoration: line-through;
}

.carousel-control {
	background: none !important;
	top: -41px;
  	left: -64px;
}

.carousel-control span {
	color: #2196f3;
}

.carousel-control.right{
	right: -45px;
  	top: -45px;
}

.carousel-indicators {
	bottom: -20px;
}

.carousel-indicators li {
	border: 1px #0d87e9 solid;
	background-color: #0d87e9;
}

blockquote {
	margin-bottom: 0;
	padding: 0 35px;
	border: none;
}
.carousel-inner {
	width:93%;
	margin:auto;
}

.item h5 {
	display: inline-block;
	margin-left: 30px;
}

.googleMap {
	height: 450px;
	margin-top: 50px;
	width:90%;
	margin:auto;
}

footer {
	padding: 20px 0;
	background-color: #232323;
	color: #fff;
	min-height: 80px;

}
.SEO {
	padding-right:10px;
}

footer ul {
	list-style: none;
	text-align: center;
}

footer ul li {
	display: inline-block;
	padding: 0 10px;
}

.icon {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-vk {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.icon-fb {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.icon-twitter {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.icon-google {
    width: 32px;
    height: 32px;
    background-position: -131px -5px;
}

.footerMenu {
	margin-top: 15px;
}

.footerMenu li a{
	color: #fff;
}

.aboutForm form {
	padding: 10px;
  	/*width: 105%;*/
  	text-align: center;
  	opacity: 0.85;
  	margin-top: 9px;
  	border: 2px solid #2196f3;
}

.aboutForm form p {
	margin-bottom: 5px;
}

.aboutForm input {
  height: 35px;
  padding: 5px;
  border: 2px #0d87e9 solid;
  box-shadow: none;
}


.aboutText h1 {
	text-align: center;
	color: #0d87e9;
}

.accordion h3 {
	text-align: center;
}

.panel-default>.panel-heading {
  border: 1px solid #eee;
  background-color: #fff;
}

.panel-default > .panel-heading .panel-title a.collapsed:before {
  content: "+";
  margin-right: 0px;
  color: #0096ff;
  font-size: 30px;
  float: right;
  margin-top: -9px;
}  

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
  border: none;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.panel-default > .panel-heading .panel-title a:before {
  color: #0096ff;
  content: "-";
  float: right;
  font-size: 50px;
  margin-right: 0;
  padding: 0 13px;
  font-weight: normal;
  margin-top: -20px;
}

.panel {
	box-shadow: none;
}




.citycol {
		width: 25%;
		float: left;
	}
		
	.panel-default > .panel-heading .panel-title a.collapsed:before {
		content: "";
		margin-right: 0px;
		color: #0096ff;
		font-size: 30px;
		float: right;
		margin-top: -9px;
	}
	.panel-default > .panel-heading .panel-title a:before {
		color: #0096ff;
		content: "";
		float: right;
		font-size: 50px;
		margin-right: 0;
		padding: 0 13px;
		font-weight: normal;
		margin-top: -20px;
	}
	.panel-heading {
		padding: 0;
		border-radius: 7px;
	}
	.panel-heading h4 {
		display: block;
		width: 100%;
		background-color: #0d87e9;
		color: #fff;
		padding: 18px;
		border-radius: 7px 7px 0 0;
	}
	.panel-heading a {
		display: block;
		width: 100%;
		outline: none;
		text-decoration: none;
	}

.certificate {
	margin-top: 90px;
}

.certificate h2 {
	text-align: center;
}

.certImage {
	text-align: center;
}

.team {
	margin: 35px 0;
}

.team h2 {
	text-align: center;
}

.empImage {
	text-align: center;
}

.empImage img {
	border-radius: 50%;
}

.empAbout {
	text-align: center;
}

.empSocial ul {
	list-style: none;
  	text-align: center;
  	margin: 0;
  	padding: 0;
}

.empSocial ul li {
	display: inline-block;
  	padding: 0 10px;
}

.ourServises h1{
	text-align: center;
	color: #0d87e9;
}

.monopolyHeader h2 {
	text-align: center;
	color: #0d87e9;	
}

.monopolyImage{
	text-align: center;
}

.graph h2 {
	text-align: center;
	color: #0d87e9;		
}

.graphImage{
	text-align: center;
}

.contactsWrapper {
	margin-bottom: 20px;
}

.contacts h1 {
	text-align: center;
	color: #0d87e9;		
}


iframe {
	width:100%;
	height: 450px;
	border: 0;
}

.contactsForm {
	width:76%;
	padding: 10px;
  	text-align: center;
  	opacity: 0.85;
  	margin-top: 20px;
  	border: 2px solid #2196f3;
  	margin: 0 auto;
}

.contactsForm p {
	margin-bottom: 5px;
}

.contactsForm input {
  height: 35px;
  padding: 5px;
  border: 2px #0d87e9 solid;
  box-shadow: none !important;
  margin: 0 auto;
}

.contactsInfo {
	padding-top: 10px;
}

.contactsInfo .glyphicon {
	font-size: 20px;
  	padding-right: 15px;
  	vertical-align: -2px;
}

.contactsInfo p{
	font-size: 1em;
	margin-bottom: 5px;
}

.emailAddress {
	color: #232323;
	text-decoration: none;
}

.emailAddress:hover{
	color: #232323;
	text-decoration: underline;
}

.contactsInfo ul {
	margin: 0;
	padding: 0;
}

.contactsInfo ul li {
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}

.citiesList h3 {
	text-align: center;
}

.citiesList a {
	text-decoration: none;
}

.city {
	text-decoration: underline !important;
	padding: 0 5px;
}

.error {
	display: block;
}

.metrika {
	text-align: center;
}
@media screen and (max-device-width: 767px) {
	.bigInfo {
		display: none !important;
	}


}
@media screen and (max-width: 500px) {
	.tarif-control {
		width:100%;
	}
	.citycol {
		width:50%;
	}
	.aimg {
		left:10px !important;
	}
	footer ul {
		padding:0;
		margin:0;
	}
	.SEO {
		margin:0;
		margin-top: 10px;
		padding:0 10px;
		line-height: 0;
		float:left !important;

	}
	.phoneHeader {
		padding:0;
		width:160px;
	}
	.phoneHeader a{
	font-size: .7em !important;
	}


}
@media screen and (max-width: 1024px) and (min-width: 500px) {
	.phoneHeader {
		width:250px;
	}

}
@media screen and (max-width: 1050px) and (min-width: 481px) {
	.tarif-control {
		width: 50%;
	}
}


/*
@media (min-width: 320px) and (max-width: 480px){
	
	.logo a {
		font-size: 60%;
	}

	.logo span {
		vertical-align: -4px;
		padding-left: 0;
	}

	.phoneHeader {
		text-align: left;
		padding-left: 0;
	}

	.phoneHeader p {
		font-size: 80%;
		padding-top: 33px;
	}

	.navbar-toggle {
		padding: 0;
  		margin-right: -13px;
  		margin-top: -26px;
	}

	.navbar-collapse {
		background-color: #fff;
		width: 100%;
	}

	.navbar-collapse li {
		width: 100%;
	}

	.navbar-default .navbar-nav>li>a:hover {
		width: 100%;
	}

	.map {
		height: 470px;
	}

	.map img {
		max-width: 100%;
		height: auto;
	}

	.orderForm {
		top: 3px;
		border: 1px solid #2196f3;
	}

	.bigInfo {
		display: none;
	}
	

	.portfolioFilter {
		text-align: center;
	}

	.portfolioFilter a {
		margin: 5px 25px;
	}


	.ipadPortrait {
		top: 0 !important;
		right: 0 !important;
		width: 100% !important;
	}

	.certificate, .team {
		margin-top: 0;
	}

	.certImage {
		margin-bottom: 10px;
	}

	.ourServises h1 {
		font-size: 345%;
	}

	footer ul li {
		padding: 0 5px;
	}
	
	.contactsForm {
		width: 100%;
	}
}

@media (min-width: 481px) and (max-width: 767px) {

	.logo a {
		font-size: 120%;
	}

	.phoneHeader {
		text-align: left;
		padding-left: 0;
	}

	.phoneHeader p {
		font-size: 150%;
		padding-top: 20px;
	}

	.navbar-toggle {
		padding: 0;
  		margin-right: -45px;
  		margin-top: -46px;
	}

	.map {
		height: 470px;
	}

	.navbar-collapse {
		background-color: #fff;
		width: 100%;
	}

	.navbar-default .navbar-nav>li {
  		margin: 5px 0;
	}

	.navbar-default .navbar-nav>li>a {
		padding-bottom: 0;
	}

	.navbar-collapse li {
		width: 100%;
	}

	.navbar-default .navbar-nav>li>a:hover {
		width: 100%;
	}

	.bigInfo {
		left: 0;
	}

	.bigInfo h1 {
		font-size: 19px;
	}

	.bigInfo p {
		font-size: 13px;
	}

	.orderForm {
		top: 3px;
		right: 5px;
		border: 1px solid #2196f3;
	}
	
	.portfolioFilter a {
		margin: 0 15px;
	}

	.portfolioContainer {
		left: 20%;
	}


	.certImage {
		margin-bottom: 10px;
	}

	.ipadPortrait {
		top: 0 !important;
		right: 0 !important;
		width: 100% !important;
	}

	.contactsForm {
		width: 100%;
	}

}
 
@media (min-width: 768px) and (max-width:991px)  {

	.logo a {
		font-size: 1.1em;
	}

	.phoneHeader p {
  		font-size: 1.5em;
  		padding-top: 21px;
	}

	.bigInfo h1 {
		font-size: 25px;
	}

	.bigInfo p {
		font-size: 20px;
	}

	.orderForm {
		top: 3px;
	}

	.ipadPortrait {
		top: 0 !important;
		right: 0 !important;
		width: 100% !important;
	}

	.certificate {
		margin-top: 30px;
	}

	.certImage {
		margin-bottom: 10px;
	}

	.portfolioFilter a {
		margin: 0 25px;
	}

	.contactsForm {
		width: 100%;
	}
*/
}