<h4>Серые методы оптимизации сайта</h4>
<p>
    Серые методы оптимизации сайта, юридически не запрещенные службами поисковых систем, все же расцениваются как некорректные средства, используемые для его продвижения.
</p>
<p>
Серая оптимизация это один из методов поисковой оптимизации. На сегодня он представляет собой основной инструмент, используемый для продвижения ресурса. Серые способы SEO, в отличие от черных способов, нечасто порождают штрафные санкции или наложение банов. Именно поэтому они очень популярны в среде веб-мастеров, которые используют их для скоростного выдвижения сайтов на первые позиции. В случае если граница между серым и черным становится неразличимой, сайт блокируется поисковыми системами временно либо окончательно. Среди серых методов чаще всего используются использование большого числа ключевых фраз в текстах, что отрицательно сказывается на читабельности содержимого, приобретение внешних ссылок, дорвеи без автоматического перенаправления на сайт и некоторые другие способы.
</p>
<h5>
    Повышенная частотность ключевых фраз
</h5>
<p>
    При отборе наилучшего сайта, отвечающего запросу пользователя, поисковики в первую очередь высчитывают количество слов или фраз, соответствующих этом запросу. Соответственно, чем выше это значение, именуемое частотой ключевых слов, тем значительнее релевантность ресурса. Этим нередко пользуются оптимизаторы, до предела нагружая содержимое сайта ключевыми сочетаниями слов. Чрезмерное использование такого метода приводит к низкой читаемости текстов.
</p>
<p>
    Современные поисковики научились бороться с такими методами, снижая позиции сайта при выявлении подобного контента. Частота слов высчитывается при помощи специальных математических алгоритмов, и оптимальное значение плотности ключевых фраз не должно превышать пяти процентов от содержимого текста. Роботы-поисковики могут оценивать только количественную составляющую информации, расположенной на сайте. Распознавать читабельность текста они пака еще не способны, что дает возможность веб-мастерам доводить частоту ключевиков до возможного предела.
</p>
<h5>
    Дорвеи
</h5>
<p>
    Другим популярным методом серой оптимизации является организация белых и серых дорвеев. Серые дорвеи – это практически полноценные сайты, содержащие вполне осмысленную информацию. Они выступают в роли своеобразных доноров для оптимизируемого сайта. Основное отличие белых дорвеев от черных состоит в том, что они выступают в роли рекламного сайта, не нарушая лицензионных требований поисковых систем. Как правило, они несут на себе оригинальный контент, расположенный на привлекающем внимание графическом дизайне. На белом дорвее клиент обнаруживает текст с рекламным содержимым и ссылками на продвигаемый сайт.
</p>
<h5>
    Покупка ссылок
</h5>

<p>
    Для эффективного продвижения сайта необходимо размещение как можно большего количества ссылок на других ресурсах. Такой способ оптимизации ресурса называется покупкой ссылок и представляет собой один из основных инструментов продвижения ресурсов в системах поиска. Чаще всего для размещения ссылок используют биржи, которые специализируются на этом. Для того чтобы этот способ был эффективным и экономически оправданным, необходимо тщательно анализировать сайты-доноры на предмет посетительского спроса и авторитета в поисковиках и глазах потенциальных клиентов. Специалисты советуют выбирать для размещения ссылок ресурсы, имеющие большой наплыв посетителей. Поисковики пытаются вести борьбу с таким методом, но применять бан к ресурсу не имеют права.
</p>

<h5> Взгляд поисковых систем
</h5>

<p>
    В отличие от черных видов продвижения серая оптимизация балансирует на границе определенных системами поиска критериев. Поэтому в отдельных случаях поисковые системы имеют возможность временно или окончательно заблокировать ресурс, использующий такие методы. Более того с течением времени запросы, предъявляемые поисковиками к оптимизации сайтов, изменяются в сторону повышения критерием качества. В результате то, что совсем недавно считалось вполне законным, в скором времени может стать уже недозволенным.
</p>