<h4>Продвижение сайта, что такое внутренняя оптимизация</h4>
<p>
    Создать контент-ресурс – полдела. Теперь сайт нужно раскрутить, и важная составляющая раскрутки сайта – это его продвижение, основополагающим фактором которого является внутренняя оптимизация веб-ресурса.Здесь вы и начинаете подготовку сайта к его продвижению.
</p>
<h5> Что такое внутренняя оптимизация?</h5>
<p>
    Мнение, что для внутренней оптимизации достаточно лишь использовать ключевые слова, ошибочно. Все же это не одно действие, а целый комплекс мероприятий, цель которых сделать ваш сайт максимально релевантным по требуемым запросам. Вы должны провести все работы, которые улучшат видимость ваших интернет-страниц и их индексацию в разных поисковиках.
</p>
<h5> Из каких элементов состоит внутренняя оптимизация контент-ресурса?</h5>

<ol>
    <li>
        <p>Оптимизация HTML кода страниц и статей</p>
        <ul>

            <li>HTML-разметка должна быть хорошо структурирована.</li>
            <li>Для ссылок нужно использовать тег </li>
            <li>Не забывать о ключевых словах для атрибута alt</li>
            <li>В коде страницы должны присутствовать мета-теги в таком порядке: title, далее description и keywords</li>
            <li>Ключевая фраза, используемая вами для продвижения страницы в выдаче, должна быть использована дословно. Обычно бывает достаточно одного ее использования</li>
        </ul>
    </li>
    <li><p>Карта сайта</p>
    <p>Создайте карты сайта для пользователей с удобной навигацией и описанием материалов и карты для поисковых машин.</p>
    </li>
    <li><p>Перелинковка страниц</p>
    <p>Продумайте заранее схему организации ссылок, иначе в будущем возникнут проблемы с ее изменением, особенно если ваш сайт уже проиндексирован. Внутри сайта должно быть как можно больше ссылок на продвигаемую страницу.</p>
    </li>
    <li><p>robots.txt – файл с инструкциями, устанавливающие правила индексации страниц поисковиками. Файл должен лежать в корневом каталоге сайта.</p></li>
    <li>
<p>Проверка работы сервера.</p>
        <p>На этом этапе проверяется правильность ответов сервера поисковым роботам.</p>
    </li>
    <li>
        <p>Удаление дублей страниц</p>
        <p>Дубли страниц (например, страницы, существующие на разных доменах или страницы, расположенные по разным адресам) следует запретить к индексации.</p>
    </li>
    <li>
        <p>
            Оптимизация дизайна вашего сайта
        </p>
        <p>Стоит позаботиться о том, чтобы страницы сайта корректно отображались в различных браузерах.</p>
    <p> Грамотный подход к оптимизации веб-ресурса позволит вам быстрее подняться в поисковой выдаче и обеспечит более стабильное положение (например, в отличие от продвижения сайта через покупку ссылок) в топе по нужному запросу.</p>
    </li>
</ol>