
.mybutton
	padding: 7px 52px
	border-radius: 4px
	box-shadow: 1px 1px 1px black
	color: white
	background-color: black
	text-transform: uppercase
	letter-spacing: 1.4px
	opacity: 0.8
	&:hover
		@include transition(opacity 1.0s ease-in 0s, width 2.0s ease-in 2s)
		cursor: pointer